<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ip.founder.apiplatform.dao.tel.PlantTelRegionMapper">
	<insert id="insertData" parameterType="com.ip.founder.apiplatform.pojo.PlantTelRegion">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
           select nvl(max(TO_NUMBER(id)),0)+1 from plant_tel_region
       </selectKey>
       insert into plant_tel_region 
       (id,name,parent_id,code,region_level,source)
       values(#{id},#{name},#{parent_id},#{code},#{region_level},#{source})
	</insert>
	
	<delete id="deleteData" parameterType="String">
		delete from plant_tel_region where code = #{code};
	</delete>
	
	<select id="selectRegionIdByName" parameterType="String" resultType="String">
		select id from plant_tel_region where name =#{name};
	</select>
	<update id="updateTelRegion" parameterType="String">
		update plant_tel_region set id = #{1} where id =#{0}
	</update >
	<select id="findAllTelRegion" resultType="com.ip.founder.apiplatform.pojo.PlantTelRegion">
		select * from plant_tel_region
	</select>
</mapper>
